@{
    ViewData["Title"] = "Home Page";
}
<body class="bodyBG">

 <main class="flex-shrink-0">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-7">
                    <h1 class="display-5 fw-bold mb-2 text-light" id="mainText">Roladex Pro</h1>
                    <h2 class="diplay-3 fw-bold  text-light" id="subText">Manage all your contacts in one place!</h2>
                    <h4 class="lead text-light">A simple, fast and scalable address book that helps you manage your contacts easily so you never lose contact infomration.</h4>
                  <a button" class="btn btn-primary btn-lg mt-3 " href="app.html">Demo</a>
                    <h4 class="mt-3 text-light">Built with ASP.NET Core, C#, .NET 6, Bootstrap 5, and Postgres SQL.
                    </h4>
                    <h4 class="text-light">Hosted with Heroku, CI/CD with Github</h4>
                </div>
                <div class="col-12 col-md-4 col-lg-5 d-flex align-items-center justify-content-center order-first order-md-last p-2">
                    <img src="img/Rolodex.png" class="img-fluid"  alt="App Logo">
                </div>
            </div>
        </div>
    </main>
    </body>